/*font-family: font-family: 'Playfair Display', serif;
font-family: 'Red Hat Display', sans-serif; */



body {
  width: 700px;
  margin: 30px auto;
  display: block;
  background-color: #E4DDC8;
  font-family: 'Playfair Display', serif;

}
h1, {
  font-family: 'Playfair Display', serif;
  /*font-size: 0.5rem;*/
}

h2, {
font-family: 'Playfair Display', san-sans-serif;
/* font-size: 4rem;
}

h3, {
font-family: 'Red Hat Display', sans-serif;
}

ul, {
list-style-type: none;

}
 li {
  list-style-type: none;
}
